@import "../mixins/flex/flex-col.scss";

.container footer {
  @include flex-col;
  gap: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: $full;
  text-align: center;
  background-color: var(--action-elm-bg);
  color: var(--action-elm-color);
  padding: 0.25rem 0;

  .game-developer,
  .game-version {
    font-size: 1rem;
    font-weight: 500;

    span {
      font-size: 0.9rem;
      font-weight: bold;
    }
  }
}
