.container .home-header .game-info-header {
  .game-result-section {
    .game-play-result {
      text-align: center;

      span {
        font-size: 0.9rem;
        font-weight: bold;
      }
    }
  }
}
